# Datasets and outputs
data-uu/
test/
inference_data/
nnUNet_results/
nnUNet_preprocessed/
nnUNet_raw/
*.nii.gz
*.npy
*.npz
*.csv
*.zip

# Python
__pycache__/
*.pyc
*.pyo

# Logs
*.log
nohup.out
.system_generated/

# Environments
.env
.venv
env/
venv/
*.pth
external-duke-fgt/duke_outputs/

# Added rules
*.done
*.mat
PyHAS-matfiles/
*output/
*outputs/
slurm/
validation/
external-duke-fgt/duke_visuals/
external-duke-fgt/log_tail.txt
