# Datasets and outputs
data-uu/
test/
inference_data/
nnUNet_results/
nnUNet_preprocessed/
nnUNet_raw/
implants/
paper_fig/
duke_sagittal_results/
utah_sagittal_results/
*.nii.gz
*.npy
*.npz
*.csv
*.zip

# Python
__pycache__/
*.pyc
*.pyo

# Logs
*.log
nohup.out
.system_generated/

# Environments
.env
.venv
env/
envs/
venv/
*.pth
*.pt
*.ckpt
*.h5
*.hdf5
*.onnx
*.nii
.DS_Store
.ipynb_checkpoints/
external-duke-fgt/duke_outputs/
external-duke-fgt/test_outputs/
external-duke-fgt/test_phase4/
external-duke-fgt/test_phase5/
external-duke-fgt/phase5_fusion_native-res/
external-duke-full/duke_outputs/

# Added rules
*.done
*.mat
PyHAS-matfiles/
*output/
*outputs/
slurm/data/
slurm/logs/
slurm/results/
validation/
external-duke-fgt/duke_visuals/
external-duke-fgt/log_tail.txt
future_fixes.txt
